


<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="fw91QQimI8HWY8ppSsBhw4+rPNYM0po9UxSPxQ6GV0QAUtXH8UI3Kx6yHc+03N9maLa2Frg0GEZ495VawU/2Ug==" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Shooly</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;900&display=swap');
        *{
            font-family: 'Noto Sans TC', sans-serif;
        }
        body{
            margin:0;
        }
        .line{
            background-color: #f2f2f2;
            display:block;
            width:100vw;
            height:8px;
        }
        .container{
            width:95%;
            margin: 0 auto;
        }
        .topic{
            font-weight: 500;
            font-size: 18px;
            padding-bottom: 10px;
            margin-top: 15px;
        }
        .content{
            color:#0c4278;
            font-weight: 100;
            margin-top: 17px;
            padding-bottom: 17px;
            border-bottom: 1px solid #eeeeee;
            position: relative;
           
        }
        .setting{
            width:100%;
            text-align: center;
            margin-top:10%;
        }
        .setting input{
            width:60%;
            background-color: white;
            border:2px solid #2d77ed;
            padding:5px 5px;
            font-size: 20px;
            border-radius: 15px;

        }
        .left{
            position: absolute;
            left:0;
            top:0;
        }
        .right{
            position: absolute;
            right:0;
            top:0;
        }
        .block{
            display: inline-block;
        }
        .top_topic{
            width:100%;
            text-align: center;
            font-size: 18px;
            margin-top: 20px;
            padding-bottom: 10px;
        }
        #set_name{
            height:80vh;
            width:100vw;
            position: absolute;
            top:0;
            left:0;
            display: none;
            background-color: white;;
        }
        #set_name p{
            color:#999696;
            font-size: 15px;
            margin-top: 20px;
        }
        #ipt_new_name{
            width:90%;
            background-color: #f2f2f2;
            border:none;
            padding:10px;
            border-radius: 10px;
            font-size: 16px;
        }
        #btn_set_name{
            position: absolute;
            right:8%;
            bottom:40%;
            background-color: #012542;
            color:white;
            border:none;
            border-radius: 50%;
            width:65px;
            height: 65px;
            text-align: center;

        }
        #fdatetime{
            width:90%;
            background-color: #f2f2f2;
            border:none;
            padding:10px;
            border-radius: 10px;
            font-size: 16px;
        }
        #btn_order{
            width:80%;
            background-color: #0371a1;
            color:white;
            padding: 10px;
            font-size: 20px;
            border-radius: 12px;
            border:none;
        }

    </style>

</head>
<body>
    <form action="/create_order" accept-charset="UTF-8" data-remote="true" method="post">
        <input name="utf8" type="hidden" value="&#x2713;" />
        <input type="hidden" name="authenticity_token" value="zqia512MembIUJ+XPgO7XKBv2ilppOAxT0YD6tBfzOGakr7QjOSaVjm4zPybLoaK2q3nV7ValWU3GKa0L678vQ==" />
        <input type="hidden" name="fname" id="fname" />
        <input type="hidden" name="fphone" id="fphone" />
        <input type="hidden" name="flocation" id="flocation" />
    <div class="top_topic">預約</div>
    <div class="container">
         <div class="topic">個人資訊</div>
          <div class="content" id="data_name" onclick="setName(this.id)">
             <div class="block" id="name" ><%= @user.name || " "%></div>
             <div class="right">變更姓名 〉</div>
         </div>
         <div class="content" id="data_phone" onclick="setName(this.id)">
             <div class="block" id="phone" ><%= @user.phone || " "%></div>
             <div class="right">變更手機 〉</div>
         </div>
    </div>
    
    <div class="line"></div>

    <div class="container">
        <div class="topic">預約地址</div>
         <div class="content" id="data_address1" onclick="setName(this.id)">
            <div class="block" id="location" name="location"><%= @user.location || " "%></div>
            <div class="right">變更 〉</div>
        </div>
   </div>
   
   <div class="line"></div>

   <div class="container">
        <div class="topic">預約時間</div>
         <div class="content" id="data_address1">
             <input min= "<%= "#{(DateTime.now).to_s[0..15]}" %>" max="<%= "#{(DateTime.now+6.days).to_s[0..15]}"%>" type="datetime-local" name="fdatetime" id="fdatetime" />
        </div>
    </div>
    
   <div style="width:100%;text-align: center; margin-top: 50px;"> <input type="submit" value="送出訂單" id="btn_order" data-disable-with="提交"  /></div>

   <div id="set_name">
    <div class="container">
        <div class="top_topic" id="set_topic">更換姓名</div>
            <input placeholder="輸入姓名" id="ipt_new_name"  />
            <p id="set_help">SS</p>
            <input type="button" value="＞" id="btn_set_name" onclick="setNameOnclick()" />
    </div>
   </div>

   
</form>


<script>


var current_step = "none";
initial();

function setName(id){
    current_step = id;
    const set_topic = document.getElementById("set_topic");
    const set_name  = document.getElementById("ipt_new_name");
    const set_help  = document.getElementById("set_help");
    var name = document.getElementById("set_name");
    if(current_step == "data_name"){
        set_topic.innerHTML = "更換姓名";
        set_name.placeholder = "輸入姓名";
        set_help.innerHTML= "請輸入您預約時需要使用的姓名。";
        set_name.value = document.getElementById("name").innerHTML;
  initial();
    }
    else if(current_step == "data_phone"){
        set_topic.innerHTML = "更換電話";
        set_name.placeholder = "輸入電話";
        set_help.innerHTML= "請輸入您預約時需要使用的電話。";
        set_name.value = document.getElementById("phone").innerHTML;
    initial();
        
    }
    else if(current_step == "data_address1"){
        set_topic.innerHTML = "更換地址";
        set_name.placeholder = "輸入地址";
        set_help.innerHTML= "請輸入您需要技師前往的地址。";
        set_name.value = document.getElementById("location").innerHTML;
    initial();
    }
    name.style.display = "block";
}
function setNameOnclick(){

    const name = document.getElementById("set_name");
    const newName = document.getElementById("ipt_new_name").value;
    if(current_step == "data_name"){
        var oldName = document.getElementById("name");

        oldName.innerHTML = newName;
    }
    else if(current_step == "data_phone"){
        document.getElementById("phone").innerHTML = newName;
    }
    else if(current_step == "data_address1"){
        document.getElementById("location").innerHTML = newName;
    }
    name.style.display = "none";
    initial();
}
function initial(){
    const name = document.getElementById("name").innerHTML;
    const phone = document.getElementById("phone").innerHTML;
    const address = document.getElementById("location").innerHTML;
    const date = document.getElementById("fdatetime").value;
    document.getElementById("fname").value = name;
    document.getElementById("fphone").value = phone;
    document.getElementById("flocation").value = address;
   
 
}



</script>
</body>
</html>